@import '../../../../styles.scss';

a {
    color: inherit;
    text-decoration: none;
}

.forward-link {
    color: $color-secondary;
    font-size: 18px;
    line-height: 1.6;
    margin: 40px;
    display: block;
}