@import '../styles';
:host {
  font-family: $base-font;
}
.layout__main-content {
  min-height: 100vh;
}
.main-content {
  padding: 0 1em;
}
  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $color-secondary;
    color: white;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    //max-width: 960px;
    flex-direction: column;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

footer {
  background: #444;
}
.footer__text {
  color: #fff;
  font-family: $base-font;
  padding: 10px;
      padding-bottom: 10px;
  font-size: 0.8em;
  line-height: 1.4em;
  padding-bottom: 40px;
}

footer a {
  color: inherit;
  text-decoration: underline;
}