<section class="set">
<div class="card-list" *ngIf="cbase">
    <div class="card-list-item">
        <div class="card">

            <div class="card-content">
                <h2 class="list-summary__title"><a [href]="'cbase/' + cbase.slug">{{cbase.name}}</a></h2>
                <ng-container *ngIf="cbase._embedded.usecase.length == 1">
                    <div class="list-summary__count" i18n>{{cbase._embedded.usecase.length}} show case</div>
                </ng-container>
                <ng-container *ngIf="cbase._embedded.usecase.length > 1">
                <div class="list-summary__count" i18n>{{cbase._embedded.usecase.length}} show cases</div>
                </ng-container>
                <p>{{cbase.description}}</p>
            </div>

            <div class="card-header">
                <div class="card-avatar" [ngStyle]="{'background-image': 'url(' + cbase.image + ')'}"></div>
                <div class="card-header-text">
                    <div class="card-title">{{cbase.admin_name}}</div>
                    <div class="curator__badge" i18n>curator</div>
                    <div class="curator__email"><a href="mailto:{{cbase.admin_email}}">{{cbase.admin_email}}</a></div>
                </div>
            </div>
            <ng-container *ngIf="cbase._embedded.usecase.length > max">
                <div class="card-content">
                    <a [href]="'cbase/' + cbase.slug" class="forward-link" i18n>All {{cbase.name}} cases →</a>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngFor="let usecase of cbase._embedded.usecase | slice:0:max;" class="card-list-item">
        <app-usecase-detail [usecase]="usecase" [parent]="cbase.slug" class="card green"></app-usecase-detail>
    </div>
</div>
</section>