.searchbar {
    /* toggle to debug non supported browsers */
    display: flex;
  }
  .searchbar__input {
    font-size: 18px;
    line-height: 1.6;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    padding: 10px 15px;
    min-width: 600px;
    height: 50px;
  }
  .searchbar__input:focus {
    outline: none;
  }
  @media only screen and (max-width: 870px) and (min-width: 461px ) {
    .searchbar__input {
      min-width: 400px;
    }
  }
  @media only screen and (max-width: 460px) {
    .searchbar__input {
      min-width: 220px;
    }
  }
  .searchbar__button {
    background: #E15532;
    padding: 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    height: 50px;
  }
  .searchbar__button img {
    align-items: center;
    justify-content: center;
  }